@font-face {
    font-family: "Karla-Bold";
    src: url("../fonts/Karla-Bold.ttf");
}
@font-face {
    font-family: "Karla-Regular";
    src: url(../fonts/Karla-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: "Karla-Regular";
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 3vh 0;
    align-items: center;
    justify-content: space-between;
    font-family: "Karla-Bold";
}
nav{
    display: flex;
    gap: 3vw;
}
nav a:nth-child(3){
    letter-spacing: 3px;
}
nav h1{
    font-size: 2rem;
}
header h1:hover, header nav a:hover, footer div:nth-child(1):hover, footer div:nth-child(2):hover, footer div:nth-child(3):hover, footer div:nth-child(4):hover, strong:hover{
    text-shadow: 2px 2px 3px #000000;
}

/* !main! */    
img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
img:hover{
    opacity: 0.5;
}
.flex p, .flex h4{
    font-size: 1.5rem;
}
h4{
    color: #848484;
}
.big{
    margin-bottom: 40px;
}
.big3{
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

/* !footer! */
footer{
    display: grid;
    gap: 40px;
    grid-template: repeat(3, 1fr)/ 2fr 1fr 2fr 1fr;
    grid-area: 
    "one two three four"
    "five six seven eight"
    "nine ten ten ten"
    ;
}

footer div:nth-child(1), footer div:nth-child(2), footer div:nth-child(3), footer div:nth-child(4){
    font-family: "Karla-Bold";
    font-size: 1.3rem;
}
footer div:nth-child(5), footer div:nth-child(6){
    font-size: 1.2rem;
}
footer div:nth-child(6), footer div:nth-child(8){
    color: #323A45;
} 
footer div:nth-child(9){
    color: #848484;
}   