@font-face {
    font-family: "Karla-Bold";
    src: url("../fonts/Karla-Bold.ttf");
}
@font-face {
    font-family: "Karla-Regular";
    src: url(../fonts/Karla-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: "Karla-Regular";
    width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 3vh 0;
    align-items: center;
    justify-content: space-between;
    font-family: "Karla-Bold";
}
nav{
    display: flex;
    gap: 3vw;
}
nav a:nth-child(3){
    letter-spacing: 3px;
}
nav h1{
    font-size: 2rem;
}
header h1:hover, header nav a:hover, footer div:nth-child(1):hover, footer div:nth-child(2):hover, footer div:nth-child(3):hover, footer div:nth-child(4):hover, strong:hover{
    text-shadow: 2px 2px 3px #000000;
}

/* !main! */
main div:first-child{
    position: sticky;
    z-index: 100;
}
img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.flex p, .flex h4{
    font-size: 1.5rem;
}
h4{
    color: #848484;
}
main{
    display: grid;
    row-gap: 40px;
    column-gap: 20px;
    grid-template: 1.1635fr 1fr 1fr 1.1635fr 1fr 1fr 1.1635fr 1fr 1fr 1.1635fr 1fr 1fr 1.1635fr 1fr/ 1fr 1fr 1fr;
    grid-template-areas: 
    "eins eins eins"
    "zwei drei vier"
    "fünf sechs sieben"
    "eins2 eins2 eins2"
    "zwei2 drei2 vier2"
    "fünf2 sechs2 sieben2"
    "eins3 eins3 eins3"
    "zwei3 drei3 vier3"
    "fünf3 sechs3 sieben3"
    "eins4 eins4 eins4"
    "zwei4 drei4 vier4"
    "fünf4 sechs4 sieben4"
    "eins5 eins5 eins5"
    "zwei5 drei5 vier5"
    ;
    margin-bottom: 40px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
main div:nth-child(1){
    grid-area: eins;
}
main div:nth-child(2){
    grid-area: zwei;
}
main div:nth-child(3){
    grid-area: drei;
}
main div:nth-child(4){
    grid-area: vier;
}
main div:nth-child(5){
    grid-area: fünf;
}
main div:nth-child(6){
    grid-area: sechs;
}
main div:nth-child(7){
    grid-area: sieben;
}
main div:nth-child(8){
    grid-area: eins2;
}
main div:nth-child(9){
    grid-area: zwei2;
}
main div:nth-child(10){
    grid-area: drei2;
}
main div:nth-child(11){
    grid-area: vier2;
}
main div:nth-child(12){
    grid-area: fünf2;
}
main div:nth-child(13){
    grid-area: sechs2;
}
main div:nth-child(14){
    grid-area: sieben2;
}
main div:nth-child(15){
    grid-area: eins3;
}
main div:nth-child(16){
    grid-area: zwei3;
}
main div:nth-child(17){
    grid-area: drei3;
}
main div:nth-child(18){
    grid-area: vier3;
}
main div:nth-child(19){
    grid-area: fünf3;
}
main div:nth-child(20){
    grid-area: sechs3;
}
main div:nth-child(21){
    grid-area: sieben3;
}
main div:nth-child(22){
    grid-area: eins4;
}
main div:nth-child(23){
    grid-area: zwei4;
}
main div:nth-child(24){
    grid-area: drei4;
}
main div:nth-child(25){
    grid-area: vier4;
}
main div:nth-child(26){
    grid-area: fünf4;
}
main div:nth-child(27){
    grid-area: sechs4;
}
main div:nth-child(28){
    grid-area: sieben4;
}
main div:nth-child(29){
    grid-area: eins5;
}
main div:nth-child(30){
    grid-area: zwei5;
}
main div:nth-child(31){
    grid-area: drei5;
}
main div:nth-child(32){
    grid-area: vier5;
}
main div:not(.overlay){
    position: relative;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: bottom 0.5s ease;
    visibility: hidden;
}
main div:not(.overlay):hover .overlay{
    bottom: 0px;
    visibility: visible;
}

/* !footer! */
footer{
    display: grid;
    gap: 40px;
    grid-template: repeat(3, 1fr)/ 2fr 1fr 2fr 1fr;
    grid-area: 
    "one two three four"
    "five six seven eight"
    "nine ten ten ten"
    ;
}

footer div:nth-child(1), footer div:nth-child(2), footer div:nth-child(3), footer div:nth-child(4){
    font-family: "Karla-Bold";
    font-size: 1.3rem;
}
footer div:nth-child(5), footer div:nth-child(6){
    font-size: 1.2rem;
}
footer div:nth-child(6), footer div:nth-child(8){
    color: #323A45;
} 
footer div:nth-child(9){
    color: #848484;
}